@{
  Layout = "_Layout";
}

<div class="jumbotron">
  <h1>Pierre's Bakery Vendoogle</h1>
</div>
<div class="card">
  <form action="/search" method="post">
    <button type="submit">Search</button>
    <input id="inputVendorName" name="inputVendorName" type="text">
  </form>
</div>