@{
  Layout = "_Layout";
}
<div class="card">
  <div class="card-title">
    <h1>Add New Vendor</h1>
  </div>
  <div class="card-body">
    <form action="/vendors" method="post">
      <label for="inputName">Name:</label>
      <input id="inputName" name="inputName" type="text"><br>
      <label for="inputDescription">Description:</label>
      <input id="inputDescription" name="inputDescription" type="text"><br>
      <label for="inputAddress">Address:</label>
      <input id="inputAddress" name="inputAddress" type="text"><br>
      <button class="btn btn-success" type="submit">Add Vendor</button>
    </form>
  </div>
</div>