@{
  Layout = "_Layout";
}
<div class="card">
  <div class="card-title">
    <h1>@Model.Name New Order</h1>
  </div>
  <div class="card-body">
    <form action="/vendors/@Model.Id/orders" method="post">
      <input id="vendorId" name="vendorId" type="hidden" value="@Model.Id">
      <label for="inputTitle">Title: </label>
      <input id="inputTitle" name="inputTitle" type="text"><br>
      <label for="inputDescription">Description: </label>
      <input id="inputDescription" name="inputDescription" type="text"><br>
      <label for="inputPrice">Price USD: </label>
      <input id="inputPrice" name="inputPrice" type="number"><br>
      <label for="inputDate">Date: </label>
      <input id="inputDate" name="inputDate" type="date"><br>
      <button type="submit">Add Order</button>
    </form>
  </div>
</div>

<p><a href="/vendors/@Model.Id">Back to Vendor</a></p>